@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  background-color: #23232e;
  height: 8vh;
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-top: 4px;
  max-height: 8vh;
  padding: 3px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #ffff;
  margin: 8px;
}

nav a {
  color: #ffff;
  transition: opacity 0.3s ease-in-out;
}

nav a:hover {
  opacity: 0.7;
}

body {
  background-color: #0d1117;
  color: #ffff;
  font-family: "Fira Code", monospace;
}

main {
  max-width: 100vw;
  margin-top: 30px;
}

main div {
  padding-top: 90px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  width: 50%;
}

h3 {
  font-weight: 100;
  text-align: center;
}

.texto-apresentacao {
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
}

div > h1 {
  text-align: center;
  font-family: "Alice", monospace;
  font-weight: 100;
  font-size: 100px;
}

.linha {
  margin: 3% auto;
  height: 1px;
  width: 94%;
  border-bottom: 1px solid #23232e;
}

.div-imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.img-perfil {
  background-color: #23232e;
  border-radius: 20vw;
  padding-right: 3vw;
  width: 40vw;
  height: 40vw;
}

.Sobre {
  max-width: 100vw;
  max-height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.Sobre div {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

.Sobre img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-right: 20px;
  padding-bottom: 20px;
}

.Sobre p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.direita {
  padding-right: 3vw;
  width: 50vw;
  height: fit-content;
}

footer {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    display: none;
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  display: flex;
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
